.contactContainer{
    background-image: url(../../../assets/images/vagues/vague_contact.svg);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &__section{
        display: flex;
        padding: 42px 110px;
        justify-content: space-between;
        align-items: center;
       
        &__leftdiv{
            width: 45%;
            background: $background-color-dark;
            color: #FDFDFD;

            &__text{
                padding: 10px 16px;
            }
            &__map{
                width: 100%;
                height: 25vw;
                transform: translate(-26px, -16px)
            }
        }

        &__rightdiv{
            width: 45%;
        }
    }
}

