.contactContainer{
    background-image: url(../../../assets/images/vagues/vague_contact.svg);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &__section{
        display: flex;

        &__leftdiv{
            margin-left: 135px;
            width: 50%;
            padding: 10px;
            background: $background-color-dark;
            color: #FDFDFD;

            &__map{
                width: 450px;
                height: 280px;
            }
        }

        &__rightdiv{
            margin-right: 110px;
            width: 50%;
        }
    }
}

