#footer_container{
    background-color: $text-color;
    padding: 26px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
            #footer_links{
                ul{
                    list-style: none;
                    color: $background-color;
                    text-decoration: none;
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 8px 0;
                    }
                    a{
                        color: $background-color;
                         text-decoration: none;
                    }

                }
            }
        #footer_map{
            height: 100%;
            width: 40vw;
            
        }
}