#footer_container{
    background-color: $text-color;
    padding: 26px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

            #footer_links{
                ul{
                    list-style: none;
                    color: $background-color;
                    text-decoration: none;
                    a{
                        color: $background-color;
                         text-decoration: none;
                    }

                }
            }
        #footer_facebook{
            height: 100%;
        }
        #footer_map{
            height: 100%;
            width: 30vw;
            
        }
}
