#footer_container{
    background-color: $text-color;
    height: 15vw;
    left: 0;
    right: 0;
    bottom: 0;
    #footer_subContainer{
        display: flex;
        flex-direction: row;

        padding-top: 2%;
        padding-bottom: 2%;

        #footer_subContainerLeft{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            left: 4vw;
            right: 4vw;
            img{
                width: 140px;
                height: auto;
            }
            #footer_links{
                ul{
                    list-style: none;
                    color: $background-color;
                    text-decoration: none;
                    a{
                        color: $background-color;
                         text-decoration: none;
                    }

                }
            }
            #footer_facebook{
                iframe{
                    margin-right: 2%;
                }
            }
        }

    }
}
