.containerFormationDetaillee{
    background-image: url("../../../assets/images/vagues/vague_formation_detail.svg");
    background-position: right 12vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
  //  position: fixed;
    &__contentFormationDetaillee{
        margin: 42px 110px;
        display: flex;
        &__titleFormationDetaillee{
            margin-bottom:26px;
            width: 40vw;
        }
    }
    &__formationAskQuotation{
        position: fixed;
        justify-content: flex-end;
        width: 26vw;
        height: 23vw;
        background-color: $background-color-dark;
        &__informationFormationQuotation{
            p{color: white;}
        }
    }
}