.containerFormationDetaillee{
    background-image: url("../../../assets/images/vagues/vague_formation_detail.svg");
    background-position: right 12vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 110px;
    &__contentFormationDetaillee{
        &__titleFormationDetaillee{
            margin: 42px 110px 26px 110px;
            width: 40vw;
        }
    }
}