.containerFormations{
    background-image: url("../../../assets/images/vagues/vague_formations.svg");
    background-position: center 20vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 110px;
    &__containerTrainings{
        margin: 142px 110px;
        display: flex;
        justify-content: space-around;
        &__trainings{
            width: 40vw;
            &__characteristics{
                padding: 26px;
                width: 25vw;
                background-color: $background-color-dark;
                p{
                    padding-left: 42px;
                }
            }
        }
    }
}

.containerCards{
    display: flex;
    justify-content: space-around;
    margin: 68px 110px 0px 110px;
    &__cardsTraining{
        width: 23vw;
        background-color: $background-color-dark;
        margin: 0px 13px;
        &__imgFormations{
            height: 20vw;
            top: 0;
            background-color: #EAEAEA;
            transform: translate(-26px, -16px)
        }
        &__contentFormations{
            padding: 16px;
        }
        &__buttonFormations{
           // color: #FFF;
            width: 96vh;
            padding-bottom: 28px;
            display: inline-block;
        }
    }

}