.containerFormations{
    background-image: url("../../../assets/images/vagues/vague_formations.svg");
    background-position: center 32vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 110px;
    &__containerTrainings{
        margin: 42px 110px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__trainings{
            width: 40vw;
            &__characteristics{
                padding: 26px;
                width: 25vw;
                background-color: $background-color-dark;
                p{
                    padding-left: 42px;
                }
            }
        }
    }
}

.containerCardsFormations{
    display: flex;
    justify-content: space-around;
    margin: 68px 110px 0px;
    &__cardsTraining{
        width: 23vw;
        background-color: $background-color-dark;
        margin: 16px 13px;
        &__imgFormations{
            height: 20vw;
            top: 0;
            background-color: #EAEAEA;
            transform: translate(-26px, -16px);
        }
        &__contentFormations{
            padding: 16px;
        }
        &__buttonFormations{
            text-align: center;
            a{
                margin-bottom: 28px;
                color: white;
            }
        }
    }

}