nav{
    display: flex;
    padding: 20px 40px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    img{
        height: 60px;
    }
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: bold;
        li{
            margin: 0px 20px;
            list-style: none;
            a{
                text-decoration: none;
                color: $text-color;
            }
            .hoverOpacity:hover{
                opacity: 0.7;
            }
        }
    }
    .menuButton{
        display: none;
    }
}