.part__container{
    padding: 26px 110px;
    background-image: url("../../../assets/images/vagues/vague_formations.svg");
    background-position: center 12vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    
    .part__displayContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .part__leftCont{
            width: 36vw;
            text-align: right;
        }
    }
    .part__sliderCont{
        position: relative;
        margin: 110px 0;
        height: 20vw;
         .part__slider{
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             position: absolute;
             left: 0;
             top: 50%;
             transform: translate(0,-50%);
             .part__cards{
                 width: 140px;
                 background-color: $background-color-dark;
                 margin-right: 68px;

                  img{
                     height: 130px;
                     width: 130px;
                     transform: translate(-1.2vw,-1.2vw);
                     background: none;
                     background-color: $background-color;
                     padding: 10px;
                     box-sizing: border-box;
                  }
            
                 p{
                     text-align: center;
                     color: $background-color;
                     margin: 0 6px 6px 6px;
                }
            }
        }
    }

    .part__partners{
    
        .part__squareCont{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 42px;
            
        }
        .part__partnersSquare{
            width: 10vw;
            height: 10vw;
            margin: 0 3vw 26px;
            // margin-bottom: 26px;
            img{
                max-width: 100%;
            }

        }
    }
    .part__contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 42px 0 110px 0;
    }
}