.servicesContainer{
    background-image: url(../../../assets/images/vagues/vague_services.svg);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}