@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");
nav {
  display: flex;
  padding: 20px 40px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center; }
  nav img {
    height: 60px; }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end; }
    nav ul li {
      margin: 0px 20px;
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        color: #120C06; }

#footer_container {
  background-color: #120C06;
  height: 15vw;
  left: 0;
  right: 0;
  bottom: 0; }
  #footer_container #footer_subContainer {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%; }
    #footer_container #footer_subContainer #footer_subContainerLeft {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      left: 4vw;
      right: 4vw; }
      #footer_container #footer_subContainer #footer_subContainerLeft img {
        width: 140px;
        height: auto; }
      #footer_container #footer_subContainer #footer_subContainerLeft #footer_links ul {
        list-style: none;
        color: #FDFDFD;
        text-decoration: none; }
        #footer_container #footer_subContainer #footer_subContainerLeft #footer_links ul a {
          color: #FDFDFD;
          text-decoration: none; }
      #footer_container #footer_subContainer #footer_subContainerLeft #footer_facebook iframe {
        margin-right: 2%; }

a.primaryButton {
  font: "Titillium Web", sans-serif;
  font-weight: bold;
  color: #120C06;
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 35; }

a.primaryButton::after {
  position: absolute;
  z-index: -35;
  content: " ";
  width: 100%;
  height: 10px;
  top: 65%;
  left: 6%;
  background-color: #5097F8;
  transition: 0,8s; }

a.primaryButton:hover::after {
  top: 65%;
  left: 0%; }

a.primaryButton.disable {
  opacity: 0,5; }

.white {
  color: #FFFFFF; }

h1 {
  font: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 26px; }

h2, h3 {
  font: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #120C06; }

p.primaryText {
  font: "Titillium Web", sans-serif;
  font-size: 16px;
  color: #120C06;
  margin: 0;
  margin-bottom: 16px; }

p.secondaryText {
  font: "Titillium Web", sans-serif;
  font-size: 16px;
  opacity: 0,85;
  color: #120C06;
  margin: 0;
  margin-bottom: 16px; }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding-top: 100px;
  background-color: #FDFDFD;
  color: #120C06;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px; }
