@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");
nav {
  display: flex;
  padding: 20px 40px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center; }
  nav img {
    height: 60px; }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end; }
    nav ul li {
      margin: 0px 20px;
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        color: #120C06; }

a.primaryButton {
  font: "Titillium Web", sans-serif;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 35; }

a.primaryButton::after {
  position: absolute;
  z-index: -35;
  content: " ";
  width: 100%;
  height: 10px;
  top: 65%;
  left: 6%;
  background-color: #5097F8; }

a.primaryButton:hover::after {
  top: 65%;
  left: 0%; }

a.primaryButton, .disable {
  opacity: 0,5; }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding-top: 100px;
  background-color: #FDFDFD;
  color: #120C06;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px; }
