.containerFormationDetaillee{
    padding: 0;
    display: flex;
    flex-direction: column;
    &__contentFormationDetaillee{
        width: 100%;
        padding: 26px;
    }
    &__formationAskQuotation{
        padding: 0;
        position: static;
        width: 100%;

    }
}