.containerFormations{
    padding-bottom: 42px;
    background-image: none;
    &__containerTrainings{
        margin: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__trainings{
            width: 87vw;
            margin: 0px 26px;
            &__characteristics{
                width: 100vw;
                margin: 16px;
                padding: 26px;
                background-color: $background-color-dark;
                h3{
                    padding-left: 68px;
                }
                p{
                    padding-left: 84px;
                }
            }
        }
    }
}

.containerCardsFormations{
    display: flex;
    flex-direction: column;
    margin: 10px 26px;
    &__cardsTraining{
        width: 81vw;
        background-color: $background-color-dark;
        margin: 42px 0px 0px 26px;
        &__imgFormations{
            height: 57vw;
            top: 0;
            background-color: #EAEAEA;
            transform: translate(-26px, -16px);
        }
        &__contentFormations{
            padding: 16px;
        }
        &__buttonFormations{
            text-align: center;
            a{
                margin-bottom: 28px;
                color: white;
            }
        }
    }

}