nav{
    background-color: $background-color;
    padding: 10px 16px;
    img{
        height: 40px;
    }
    ul{
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100vw;
        text-align: center;
        margin-top: 80px;
        display: block;
        background-color: $background-color;
        transition:0.3s right;
        li{
            margin-top: 26px;
            margin-left: 0px;
            margin-right: 0px;
            .primaryButton{
                margin-bottom: 26px;
            }
        }
    }
    .greyOpacity{
        display: block;
        position: fixed;
        top: 80px;
        right: -100vw;
        bottom: 0;
        width: 100vw;
        background-color: $background-color-dark;
        opacity: 0.6;
        transition:0.3s right;
        z-index: -2;
    }
    .visible{
        right: 0;
    }
    .menuButton{
        display: block;
        font-family: $font-primary-bold;
        font-size: $font-size-body;
        font-weight: bold;
    }
    .menuButton:hover{
        cursor: pointer;
    }
    .menuButton:hover{
        opacity: 0.70;
    }
}