#part__container{
    background-image: none;
    padding: 26px 26px;
    #part__displayContainer{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        #part__leftCont{
            width: 87vw;
            text-align: left;
        }
        
    }
    #part__sliderCont{

        #part__slider{
            width: 100%;
            position: relative;
            flex-direction: column;

        }
    }
   

    #part__partners{

        #part__squareCont{
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;

            .part__partnersSquare{
                width: 25vw;
                height: 25vw;
            }
        }
    }
}