#part__container{
    background-image: none;
    padding: 26px 26px;
    #part__displayContainer{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        #part__leftCont{
            width: 87vw;
            text-align: left;
        }
        
    }
    #part__sliderCont{
        height: auto;
        margin: 42px 0;

        #part__slider{
            width: 100%;
            position: static;
            flex-direction: row;
            transform: none;
            flex-wrap: wrap;
            justify-content: space-around;
            .part__cards{
                width: 23vw;
                margin: 0 0 26px 0;
                img{
                    width: 23vw;
                    height: 23vw;

                }
            }
        }
    }
   

    #part__partners{

        #part__squareCont{
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;

            .part__partnersSquare{
                width: 25vw;
                height: 25vw;
            }
        }
    }
}