#part__container{
    background-image: none;
    padding: 26px 26px;
    #part__displayContainer{
        display: flex;
        flex-direction: column;

        #part__leftCont{
            width: 87vw;
            text-align: left;
            img{
                
            }
        }
        
    }
    #part__squareCont{ 
        #part__partnersSquare{
            margin-right: 0;
        }

    }
}