@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

$color-primary: #604C8C;
$color-secondary: #C76232;
$background-color: #F9F9FC;
$text-color: #120C06;

$font-primary: 'Muli', sans-serif;
$font-size-title: 26px;
$font-size-body: 16px;


