@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

$color-primary: #5097F8;
$color-secondary: #004F97;
$background-color: #FDFDFD;
$background-color-dark: #525151;
$text-color: #120C06;
$text-color-white: #FDFDFD;

$font-primary: 'Titillium Web', sans-serif;
$font-size-title: 26px;
$font-size-body: 16px;


