@import "_config.scss";

@import "partials/header";
@import "partials/formations";
@import "partials/footer";
@import "partials/library";
@import "partials/home";
@import "partials/contact";
@import "partials/produits";

body, html {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-size-body;
}

