@import "_config.scss";

@import "partials/header";
@import "partials/formations";
@import "partials/footer";
@import "partials/library";
@import "partials/home";
@import "partials/contact";
@import "partials/contactvalidation";
@import "partials/produit";
@import "partials/formationdetaillee";

@media screen and (orientation:portrait) {
  @import "partials/responsive/header";
  @import "partials/responsive/footer";
  @import "partials/responsive/home";
  @import "partials/responsive/contact";
  @import "partials/responsive/produit";
  @import "partials/responsive/formations";
}

body, html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-size-body;
}

